.container-fluid{
  width: 100%;
  padding: unset;
  margin: unset;
}


/* colors  */
.fc\(000\){
  color: #000;
}

/* fontSizez */

.fs\(36\){
  font-size: 36px;
}

/* text decoration */
.tdec{
  text-decoration: unset !important;
}